@property --hue {
  syntax: "<hue>";
  inherits: true;
}

:root {
  --hue: 105deg;
  --contrast-hue: calc(var(--hue) + 180deg);
  --radius: 8px;
  --radius-lg: calc(var(--radius) * 3);
  color-scheme: dark;
  accent-color: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: oklch(90% 20% var(--hue));
    --on-accent: oklch(30% 17% var(--hue));
    --background: oklch(10% 10% var(--contrast-hue));
    --on-background: oklch(95% 10% var(--contrast-hue));
    --surface: oklch(25% 5% var(--contrast-hue));
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent: oklch(55% 25% var(--hue));
    --on-accent: oklch(100% 17% var(--hue));
    --background: oklch(98% 2% var(--contrast-hue));
    --on-background: oklch(20% 10% var(--contrast-hue));
    --surface: oklch(100% 5% var(--contrast-hue));
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: unset;
  line-height: 1.5;
}

html {
  font-family: system-ui;
}

body {
  background-size: 16px 16px;
  background-color: var(--background);
  color: var(--on-background);
  display: grid;
  gap: 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-block: unset;
  padding-inline-start: unset;
}

.surface {
  background-color: var(--surface);
  border-radius: var(--radius-lg);
  padding: 16px 24px;
}

.surface.outline {
  border: solid 2px var(--accent);
}

button.fill,
a.fill {
  border: none;
  background-color: var(--accent);
  color: var(--on-accent);
  border-radius: var(--radius);
  padding: 8px 16px;
}

button.outline,
a.outline {
  border: solid 1px var(--accent);
  background-color: transparent;
  border-radius: var(--radius);
  padding: 8px 16px;
}
